@import "../../core/base/mixins/theme-variables";
.ui_dropdown {
    @include themify($themes) {
        color: themed("InputTextColor");
    }
    padding: 0.5rem 0.5rem;
    border: none;
}

.ui_dropdown:active,
.ui_dropdown:hover,
.ui_dropdown:focus {
    @include themify($themes) {
        color: themed("InputTextColor");
        // box-shadow: themed("boxShadowPrimary");
    }
    outline: none;
    border: none;
}

select {
    -webkit-appearance: none;
    appearance: none;
}

.custom_select {
    width: 80px;
    line-height: 1;
    background: url("../../../../../../public/media/icons/duotone/general/chevron-down.svg") no-repeat right;
    -webkit-appearance: none;
    background-position-x: 50px;
}