@import "../../core/base/variables/variables-custom";
.green-50 {
    background-color: $uw_green_50;
}

.green {
    background-color: $uw_green;
}

.orange-50 {
    background-color: $uw_orange_50;
}

.orange {
    background-color: $uw_orange;
}