.master_layout_main {
    // @include important-text;
    @include themify($themes) {
        background-color: themed("headerFooterBackground");
    }
}

.aside_layout_main {
    width: 140px;
    // @include important-text;
    @include themify($themes) {
        background-color: themed("asideBackground");
    }
}

.page_background {
    min-height: 90vh;
}